body{
    background-color: rgb(37, 37, 37);
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img{
    
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto
}