@charset "UTF8";

table {
    border-collapse: collapse;
    width: 400px;
    height: 300px;
    text-align: center;
}

th, td {
    border: 1px solid black;
}

thead > tr, .faixa {
    background-color: rgb(99, 99, 99);
    color: white;
}

.media {
    text-align: left;
    text-indent: 0.5em;
}

col.carea {
    background-color: rgb(128, 255, 196);
}
