@charset "UTF8";

h1{ /* box level */
    text-align: center;
    background-color: lightgray;
    height: 300px;
    width: 300px;

    border: 0.1em solid black;

    padding: 10px;

    margin: 20px auto 40px auto;
    
    outline: 0.3em dashed lightcoral;
}

a{  /* inline level */
    border-width: 0.1em;
    border-style: dashed;
    border-color: lightcoral;
}